[gcode_macro INPUT_SHAPE_X]
gcode:
  SHAPER_CALIBRATE AXIS=X
  SAVE_CONFIG

[gcode_macro INPUT_SHAPE_Y]
gcode:
  SHAPER_CALIBRATE AXIS=Y
  SAVE_CONFIG
  
[gcode_macro NOZZLE_PROBE]
description: Move carriage to center of bed for PROBE_CALIBRATE
gcode:
    G28
    PROBE_CALIBRATE
    
[gcode_macro PID_BED]
gcode:
  PID_CALIBRATE HEATER=heater_bed TARGET=65
  SAVE_CONFIG

[gcode_macro PID_Extruder]
gcode:
  PID_CALIBRATE HEATER=extruder TARGET=230
  SAVE_CONFIG

[gcode_macro CALIBRATE_BED_MESH]
description: Calibrate bed mesh
gcode:
    G28
    #M140 S65           ; Set Bed Temperature
    #M190 S65           ; Wait for Bed Temperature
    #M104 S215          ; Set Hotend Temperature
    #M109 S215          ; Wait for Hotend Temperature
    BED_MESH_CALIBRATION
    { action_respond_info("Ready for bed mesh calibration...") }
    BED_MESH_PROFILE REMOVE=default
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE PROFILE=default
    SAVE_CONFIG
    
[gcode_macro PA_Calibration]
description: Adjust velocity and PA parameters for bowden extruder
gcode:
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=1 ACCEL=500
    TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=ADVANCE START=0 FACTOR=.020
